@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    h1 {
      @apply text-2xl;
    }
    h2 {
      @apply text-xl;
    }
    h3 {
      @apply text-lg;
    }
    h4{
        @apply text-base
    }
}

:root{
    --color-white: #fff;
    --color-whitelight: #f5f5f5;
    --color-whitelight02: #efefef;
    --coloractive: #8bc53f;
    --color-red: #ee1f37;
    --color-blue: #107290;
    --color-black: #444;
    --color-grey: #aaa;
    --color-yellow: #fba81a;
    --color-normal-dark: #257434;
    --color-hilife: #cec1a7;
    --color-normal: #2d3d4a;
    --bg-black: #000;
    --bgactive: rgba(3, 30, 52, 1);
    --bgactive10: rgba(3, 30, 52, 0.1);
    --bgactive20: rgba(3, 30, 52, 0.2);
    --bgactive30: rgba(3, 30, 52, 0.3);
    --bgactive40: rgba(3, 30, 52, 0.4);
    --bgactive50: rgba(3, 30, 52, 0.5);
    --bgactive60: rgba(3, 30, 52, 0.6);
    --bgactive70: rgba(3, 30, 52, 0.7);
    --bgactive80: rgba(3, 30, 52, 0.8);
    --bgactive90: rgba(3, 30, 52, 0.9);
    --bgactive0: rgba(3, 30, 52, 0);
    --color-white0: rgba(255, 255, 255, 0);
    --color-white10: rgba(255, 255, 255, 0.1);
    --color-white20: rgba(255, 255, 255, 0.2);
    --color-white30: rgba(255, 255, 255, 0.3);
    --color-white40: rgba(255, 255, 255, 0.4);
    --color-white50: rgba(255, 255, 255, 0.5);
    --color-white60: rgba(255, 255, 255, 0.6);
    --color-white70: rgba(255, 255, 255, 0.7);
    --color-white80: rgba(255, 255, 255, 0.8);
    --color-white90: rgba(255, 255, 255, 0.9);
    --color-black0: rgba(0, 0, 0, 0);
    --color-black5: rgba(0, 0, 0, 0.05);
    --color-black10: rgba(0, 0, 0, 0.1);
    --color-black20: rgba(0, 0, 0, 0.2);
    --color-black30: rgba(0, 0, 0, 0.3);
    --color-black40: rgba(0, 0, 0, 0.4);
    --color-black50: rgba(0, 0, 0, 0.5);
    --color-black60: rgba(0, 0, 0, 0.6);
    --color-black70: rgba(0, 0, 0, 0.7);
    --color-black80: rgba(0, 0, 0, 0.8);
    --color-black90: rgba(0, 0, 0, 0.9);
    --color-bg-gradient: linear-gradient(0deg, rgba(3, 30, 52, 0.3) 0%, rgba(255, 255, 255, 0.5) 100%);
    --color-bg-black: linear-gradient(0deg, rgba(0, 0, 0, 0.8) 20%, rgba(0, 0, 0, 0) 100%);
    --bg-current: linear-gradient(0deg, rgba(3, 30, 52, 0.2) 0%, rgba(3, 30, 52, 0) 100%);
    --bg-gradient: linear-gradient(180deg, rgba(255, 119, 0, 0.1) 0%, rgba(0, 0, 0, 0.5) 100%);
    --bg-banner: linear-gradient(0deg, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0.2) 50%, rgba(0, 0, 0, 0) 100%);
    --bg-bg: linear-gradient(0deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.2) 100%);
    --bg-thumb: linear-gradient(0deg, rgba(3, 30, 52, 1) 0%, rgba(3, 30, 52, 0) 100%);
    --bg-wrap: linear-gradient(180deg, rgba(3, 30, 52, 0) 0%, rgba(0, 0, 0, 0.4) 100%);
    --gradient-white: linear-gradient(0deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 100%);
    --titleBig: 4.3rem;
    --titleMedium: clamp(26px, 3vw, 48px);
    --titleFont: clamp(26px, 3vw, 60px);
    --titleSmall: clamp(26px, 1.6vw, 34px);
    --fontText: 1.5rem;
    --fontContent: 1.1rem;
    --wraplarge: 100vw;
    --wrapcontent: 82vw;
    --wrapsmall: 50vw;
    --small-line: 10px;
    --widthmenu: 38vw;
}

html{
    font-size: 1vw;
}

h1,h2 {
    line-height: 1.2
}

.selected{
    opacity: 1!important;
    focus-visible: hidden !important;
}

.selected:focus-visible {
    outline: none;
    box-shadow: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav{
    display: block;
}

/* Menu */

.header {
    --height: 7rem;
    position: fixed;
    width: 100%;
    height: auto;
    top: 0;
    left: 0;
    text-align: center;
    font-size: 1vw;
    z-index: 100;
    display: block;
}

.header::after {
    content: '';
    background-color: var(--color-white);
    transition: height .3s ease-in-out;
    height: 0;
}

.header::after, .logo-main {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
}

.nav-click {
    position: absolute;
    right: 4rem;
    top: 0;
    --widthnavclick: 2.5em;
    width: var(--widthnavclick);
    height: var(--height);
    display: flex;
    align-items: center;
    cursor: pointer;
    color: var(--color-white);
    z-index: 1;
}

.active-nav {
    position: relative;
    pointer-events: auto;
    color: inherit;
    height: 100%;
    width: 100%;
}

.toggle-1, .toggle-2 {
    position: absolute;
    top: calc(50% - .28em);
    right: calc(50% - var(--widthnavclick) / 2);
    width: var(--widthnavclick);
    height: 1px;
}

.toggle-2 {
    top: calc(50% + .28em);
}

.line-toggle {
    background-color: currentColor;
}

.right-header {
    position: fixed;
    width: auto;
    height: var(--height);
    display: flex;
    right: 7rem;
    top: 0;
    justify-content: center;
    align-items: center;
    --margin-dis: 0 2.2rem 0 0;
    color: var(--color-white);
    z-index: 2;
}

.email-but, 
.hotline-contacts > img {
    position: relative;
    width: 2em;
    height: 2em;
}

.hotline-contacts>img {
    display: inline-block;
    margin: 0 10px 0 0;
}

.email-but {
    display: flex;
    justify-content: center;
    align-items: center;
    color: inherit;
    margin: var(--margin-dis);
}

.hotline-contacts {
    display: flex;
    align-items: center;
}

.hotline-contacts, .language {
    position: relative;
    width: auto;
    height: auto;
    color: inherit;
    margin: var(--margin-dis);
}

.language, .language li button {
    display: block;
    text-align: center;
}

.search-top {
    width: 2.6em;
    height: 2.6em;
    margin: 0;
    z-index: 2;
}

.hotline-contacts>span, .search-top {
    position: relative;
    display: inline-block;
}

.search-but, .search-but img {
    position: relative;
    width: 100%;
    height: 100%;
    display: block;
}

.right-header::after {
    content: '';
    width: 1px;
    height: 1rem;
    background-color: currentColor;
    margin: 0 40px;
}   

.language li, .language ul, .main-menu ul, .right-header::after {
    position: relative;
    display: inline-block;
}

.navigation {
    width: 100%;
    top: 0;
    right: 0;
    height: 100%;
    position: fixed;
    text-align: right;
    margin: 0;
    transition: transform .4s ease-in-out;
    transform: translateX(100%);
    overflow-x: hidden;
    overflow-y: auto;
    z-index: 10;
}

.navigation::before {
    content: '';
    height: 100%;
}

.navigation>span {
    content: '';
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    right: 0;
    background-color: var(--color-black10);
    z-index: 1;
}

.close-menu {
    position: fixed;
    right: 3rem;
    --widthclose: 2.5rem;
    top: 2rem;
    width: var(--widthclose);
    height: var(--widthclose);
    display: flex;
    align-items: center;
    cursor: pointer;
    color: var(--color-white);
    z-index: 100;
}

.close-menu .toggle-1, .close-menu .toggle-2 {
    top: calc(50% - .4rem);
    right: calc(50% - var(--widthclose) / 2);
    width: var(--widthclose);
    height: 1px;
    opacity: 0;
    transition: transform .6s, opacity 0s .6s;
}

.close-menu .toggle-2 {
    top: calc(50% + .4rem);
}

.close-menu.show .toggle-1, .close-menu.show .toggle-2 {
    opacity: 1;
    transform: rotate(-135deg);
    top: 50%;
    transition: all .6s .6s;
}

.close-menu.show .toggle-2 {
    transform: rotate(-225deg);
}

.main-menu {
    width: calc(var(--widthmenu) - 5px);
    padding-right: 4rem;
    height: auto;
    margin: 5rem 0 3rem;
    z-index: 30;
}

.main-menu, .navigation::before {
    position: relative;
    display: inline-block;
    vertical-align: middle;
}

.main-menu ul {
    list-style: none;
    width: auto;
    height: auto;
}

.nav-item {
    list-style: none;
    width: 100%;
    display: block;
    position: relative;
    overflow: hidden;
    text-align: right;
}

.nav-item .nav-item-a {
    font-size: 6vh;
    font-weight: 100;
    line-height: 1;
    color: var(--color-white);
    padding: 3vh;
    position: relative;
    text-shadow: 0 1px 1px var(--color-black20);
    text-transform: uppercase;
    white-space: nowrap;
    display: inline-block;
}

.small-nav-item.nav-item .nav-item-a {
    font-size: max(3vh, 20px);
    padding: 1.5vh 3.3vh;
}

.overlay-menu {
    position: fixed;
    width: var(--widthmenu);
    height: 100vh;
    transform: translateX(100%);
    right: 0;
    top: 0;
    background-color: var(--bgactive);
    transition: transform .6s ease-in-out;
    z-index: 1;
}

.right-header-clone {
    right: 7vw;
    height: 6.5rem;
    opacity: 0;
}

.language li.active, .nav-item-home {
    display: none;
}

/* Menu Toggle */

.nav-item.current {
    pointer-events: none;
    opacity: .6;
}

.navigation.show {
    pointer-events: auto;
    transform: none;
}

.overlay-menu.show {
    transform: none;
}

.main-menu.show::after {
    transform: none;
    transition: transform .7s ease-in-out 1s
}

.search-overlay.show {
    pointer-events: auto;
    transform: none
}

.right-header-clone .hotline-contacts>span, .right-header-clone .search-top, .right-header-clone::after{
    display: none;
}

.animation-menu{
    translate: none;
    rotate: none;
    scale: none;
    opacity: 1;
    transform: translate(0px, 0%);
    transition: transform 1.4s ease-in-out!important;
}

.animation-menu-showup{
    translate: none;
    rotate: none;
    scale: none;
    opacity: 0; 
    transform: translate(0px, 100%);
    transition: transform 1.4s ease-in-out!important;
}

.animation-menu-showdown{
    translate: none;
    rotate: none;
    scale: none;
    opacity: 0;
    transform: translate(0px, -100%);
    transition: transform 1.4s ease-in-out!important;
}

/* Menu End */

/* About Us */

.right-content b, strong {
    font-weight: 700;
}

.right-content p {
    position: relative;
    display: block;
    font-size: 1.3rem;
    font-weight: 300;
    margin: 0 0 1.8rem;
}


.close-pics-span circle, .view-details circle {
    stroke-dasharray: 265;
    stroke-dashoffset: 265;
    transition: stroke-dashoffset 1.2s, transform 1.2s;
    transform-origin: 50% 50%;
    stroke-width: 1;
}

.view-details circle {
    stroke: var(--bgactive);
}

.view-details.is-inview svg circle:first-child {
    stroke-dashoffset: 22px;
}

.view-details circle:last-child {
    transform: rotate(-45deg);
}

.slidebox-arrow.is-inview svg, .view-details.is-inview svg {
    transform: rotate(0);
}

.view-details svg {
    pointer-events: none;
}

.view_i {
    display: block;
    position: absolute;
    left: 50%;
    top: 50%;
    width: 1.625rem;
    height: .9375rem;
    margin: -.46875rem 0 0 -.8125rem;
    overflow: hidden;
    pointer-events: none;
}

.view_i::after, .view_i::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: transform .3s;
}

.view-details .view_i::before {
    background: url(../public/arrow-details-blue.svg) no-repeat center center / contain;
}

.view_i::after {
    transform: translateX(-120%);
}

.view-details .view_i::after {
    background: url(../public/arrow-details-blue.svg) no-repeat center center / contain;
}

.view-details.is-inview:hover svg circle:first-child {
    stroke-dashoffset: 265;
    transform: rotate(360deg);
}

.view-details.is-inview:hover svg circle {
    transition: stroke-dashoffset .8s, transform .8s;
}

.view-details.is-inview:hover svg circle:last-child {
    stroke-dashoffset: 22;
    transform: rotate(360deg);
}

.view-details.is-inview:hover svg circle {
    transition: stroke-dashoffset .8s, transform .8s;
}

.view-details>span {
    position: absolute;
    display: block;
    /* color: var(--color-white); */
    font-size: 1rem;
    font-weight: 400;
    left: 100%;
    top: 50%;
    transform: translate(100%, -50%);
    white-space: nowrap;
    text-transform: uppercase;
}

.view-details.is-inview>span {
    transform: translate(1.5rem, -50%);
}

.slidebox-arrow.is-inview .text span, .view-details.is-inview>span span {
    transform: translateX(0) scale(1);
}

.view-details>span span {
    transition: transform 1s;
    display: block;
    transform: translateX(-120%) scale(1.2);
}

.view-details:hover .view_i::before {
    transform: translateX(120%);
    transition: transform .3s;
}

.view-details:hover .view_i::after {
    transform: translateX(0);
    transition: transform .3s;
}

.text-fixed p {
    position: relative;
    display: block;
    font-size: 1.3rem;
    font-weight: 300;
    margin: 0 0 1.8rem;
}

/* News */

.view-more a::after, .view-more button::after, .view-more span::after {
    content: '';
    position: relative;
    display: block;
    width: 0;
    height: 0;
    border-top: 5px solid transparent;
    border-left: 5px solid currentColor;
    border-bottom: 5px solid transparent;
    margin: 0 0 0 10px;
    opacity: .7;
}

.item-news {
    position: relative;
    display: block;
    width: calc(33.33% - 30px);
    margin: 15px;
    padding: 0 0 80px;
    cursor: pointer;
}

.date-thumb {
    position: relative;
    height: auto;
    margin: 15px 0;
    color: var(--color-black40);
    font-weight: 500;
    font-size: .8rem;
    background-color: unset;
    line-height: 1.5;
    text-align: left;
    z-index: 5;
}

.txt-news h3 {
    font-size: 1.3rem;
    font-weight: 400;
    position: relative;
    margin: 0 0 1rem;
}

/* News Detail */

.news-detail-page .load-title h2, 
.news-detail-page .load-title h3 {

    font-size: max(1.5rem, 28px);
    text-transform: uppercase;
    color: var(--bgactive);
    padding: 0 1.5rem;
    text-align: center;
}

.news-detail-page .box-text h3, .news-detail-page .load-title h2, .news-detail-page .load-title h3{
    position: relative;
    display: block;
    height: auto;
    font-weight: 700;
}

.news-detail-page .date-thumb{
    text-align: center;
}

.load-text h2, .load-text h3, .load-text h4, .load-text p{
    position: relative;
    display: block;
    margin: 0 0 1.5rem;
    padding: 0 3vw;
}

.load-text p img {
    display: block;
    text-align: center;
    width: 100%;
}

.load-text h1{}
.load-text h2{}
.load-text h3{}
.load-text h4{}
.load-text h5{}

.load-text p {
    margin: 0 0 1.8rem;
    font-size: 1.2rem;
}

.figure-img, .figure-two-img {
    text-align: center;
    margin: 1.5rem 0;
}

.chapeau, .figure-img, .figure-two-img, .load-title {
    position: relative;
    width: 100%;
    height: auto;
}

.news-detail-page .mySwiper{
    position: unset;
}

.news-detail-page .item-news {
    width: auto;
    padding: auto;
    display: block;
    margin: 0;

}

.news-detail-page .slidebox-arrows{
    position: absolute;
    width: calc(100% + 12rem);
    height: auto;
    top: calc(60% - 2rem);
    left: -6rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--bgactive);
}

.news-detail-page .slidebox-arrow {
    position: relative;
    display: flex;
    align-items: center;
    padding: 0;
    border: 0;
    margin: 0;
    width: 4rem;
    height: 4rem;
    z-index: 1;
}

.news-detail-page .slidebox-arrow.is-inview svg, .news-detail-page .view-details.is-inview svg {
    transform: rotate(0);
}

.news-detail-page .slidebox-arrow svg,.news-detail-page .thumb-item img {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
}

.news-detail-page .slidebox-arrow.is-inview svg circle:first-child {
    stroke-dashoffset: 0;
}

.news-detail-page .slidebox-arrow circle {
    stroke-dasharray: 265;
    stroke-dashoffset: 265;
    transition: stroke-dashoffset 1.2s, transform 1.2s;
    transform-origin: 50% 50%;
    stroke-width: 1;
    stroke: var(--bgactive);
}

/* media 1100px */

.news-detail-page .slidebox-arrow.is-inview:hover svg circle:first-child {
    stroke-dashoffset: 265;
    transform: rotate(360deg);
}

.news-detail-page .slidebox-arrow.is-inview:hover svg circle:last-child {
    stroke-dashoffset: 22;
    transform: rotate(360deg);
}

.news-detail-page .slidebox-arrow.is-inview:hover svg circle {
    transition: stroke-dashoffset .8s, transform .8s;
}

.news-detail-page .slidebox-arrow.is-inview:hover svg circle {
    transition: stroke-dashoffset .8s, transform .8s;
}

.news-detail-page .slidebox-arrow:hover .arrow::before {
    transform: translateX(120%);
    transition: transform .3s;
}

.news-detail-page .slidebox-arrow:hover .arrow::after {
    transform: translateX(0);
    transition: transform .3s .1s;
}

/* Media 1100px */

.news-detail-page .slidebox-arrow-prev .arrow {
    transform: rotate(-180deg);
}

.news-detail-page .slidebox-arrow .arrow {
    position: absolute;
    width: 1.625rem;
    height: .9375rem;
    display: block;
    left: 50%;
    top: 50%;
    margin: -.46875rem 0 0 -.8125rem;
    overflow: hidden;
    pointer-events: none;
}

.news-detail-page .slidebox-arrows .arrow::before {
    background: url(../public/arrow-details-blue.svg) no-repeat center center / contain;
}

.news-detail-page .slidebox-arrow .arrow::after, .slidebox-arrow .arrow::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: transform .3s;
}

.news-detail-page .slidebox-arrows .arrow::after {
    background: url(../public/arrow-details-blue.svg) no-repeat center center / contain;
}

.news-detail-page .slidebox-arrow .arrow::after {
    transform: translateX(-120%);
}

.news-detail-page .swiper-pagination-bullet{
    width: 1.8rem;
    height: 1.8rem;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--bgactive50);
    color: var(--bgactive);
    border-radius: 50%;
    font-size: .7rem;
    font-weight: 700;
    line-height: 1;
    margin: 0 3px;
    background: var(--color-white);
    opacity: 1;
}

.news-detail-page .swiper-pagination{
    position: relative;
    text-align: unset;
    padding: 1rem 1rem 1rem 0;
    margin: 1rem 0;
}

.news-detail-page .swiper-pagination-bullet-active{
    background: var(--bgactive);
    border: 0;
    color: var(--color-white);
    transform: none;
}

.news-detail-page .swiper-pagination::before{
    content: "Trang:"
}

.news-detail-page .item-news{
    padding: 10px 10px 70px;
    margin: 0;
}

.news-detail-page .txt-news{
    padding: 0 8px;
}

.news-detail-page .view-more{
    position: absolute;
    bottom: 20px;
    left: 22px;
    margin: 0;
}

.news-detail-page .view-more span{
    font-size: 14px;
}

.news-detail-page .item-news.current {
    pointer-events: none;
    background: var(--bg-current);
}

.new-slide-relative .date-thumb{
    text-align: left;
}

.print, .share-item ul {
    position: relative;
    display: block;
    width: 100%;
    height: auto;
    padding: 0;
    text-align: center;
}

.print-box {
    width: auto;
    height: auto;
    margin: 0;
    padding: 7px;
    border-radius: 10px;
    box-shadow: 0 10px 20px var(--color-black10);
}

.load-text ul li::before, .print-box {
    position: relative;
    display: inline-block;
}

.print-but, .save-but, .share-but {
    padding: 0 20px 0 10px;
    display: inline-block;
    vertical-align: middle;
    width: auto;
    height: 50px;
    line-height: 50px;
    font-size: 12px;
    text-transform: uppercase;
    color: var(--bgactive);
    border-radius: 6px;
    background: 0 0;
    z-index: 1;
}

.print-but::before {
    background: url(../public/print.svg) no-repeat 50% / 80%;
}

.print-but::before, .save-but::before, .share-but::before {
    content: '';
    position: relative;
    display: inline-block;
    vertical-align: middle;
    width: 40px;
    height: 40px;
    opacity: .8;
}

.share-but::before {
    background: url(../public/share.svg) no-repeat 50% / 80%;
}

.share-item {
    position: absolute;
    right: -100%;
    bottom: 15px;
    width: 100%;
    height: 40px;
}

@media (hover: hover) and (pointer: fine) and (min-width: 1100px){
    
    .download-pdf-subscribe, .input-but button, .print-box>button, .share-item a, .view-album, .view-album::after, .view-album::before, .view-degree, .view-degree::after, .view-pdf, .view-pdf::after, .view-pdf::before, .view-video, .view-video::after, .view-video::before {
        transition: all .3s ease-in-out;
    }
    
    .print-box>button.active, .print-box>button:hover, .share-item a:hover {
        background-color: var(--bgactive);
        color: var(--color-white);
    }
}

.share-item ul {
    width: auto;
    text-align: left;
    padding: 0 0 0 10px;
}

.share-but.active+.share-item li {
    transform: scale3d(1, 1, 1);
    left: 0;
    opacity: 1;
}

.share-item li {
    display: inline-block;
    position: relative;
    width: 40px;
    height: 40px;
    margin: 0 3px;
    transform: scale3d(0, 1, 1);
    transform-origin: left top;
    left: -40px;
    opacity: 0;
}

.print-but:hover::before {
    background: url(../public/print2.svg) no-repeat 50% / 80%;
    opacity: 1;
}

.share-but:hover::before {
    background: url(../public/share2.svg) no-repeat 50% / 80%;
    opacity: 1;
}

/* Product Page */

/* .product-cat-page .sub-nav button::after,
.category-product-page .sub-nav button::after {
    content: '';
    position: absolute;
    width: 1px;
    height: 1.2rem;
    top: calc(50% - 12.3rem);
    left: 18%;
    background-color: var(--bgactive20);
} */

.product-cat-page .load-news-list,
.category-product-page .load-news-list{
    margin: -14.5px;
}

.product-cat-page .item-product-category,
.category-product-page .item-product-category{
    width: calc((100% / 2) - 29px);
    margin: 14.5px;
}

.product-cat-page .product-category-text,
.category-product-page .product-category-text{
    width: 100%;
    height: auto;
    left: 0;
    bottom: 0;
    padding: 3rem;
    z-index: 12;
}

.product-cat-page .item-product-category .pic-img,
.category-product-page .item-product-category .pic-img{
    background-size: cover;
    padding-bottom: 65.6%;
    width: 100%;
    position: relative;
}

.product-cat-page .item-product-category .pic-img img,
.category-product-page .item-product-category .pic-img img{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    object-position: center;
    object-fit: cover;
}

.product-cat-page .item-product-category{
    width: calc((100% / 3) - 29px);
    margin: 14.5px;
}

@media screen and (max-width: 1500px){
    .header {
        font-size: 1.1vw;
    }

    .right-header {
        --margin-dis: 0 2.5rem 0 0;
    }   

    .right-header {
        --margin-dis: 0 2.5rem 0 0;
    }
}

@media (hover: hover) and (pointer: fine) and (min-width: 1100px){

    .email-but, .hotline-contacts, .language li button, .line-toggle, .link-home-top, .nav-click, .search-but {
        transition: all .3s ease-in-out;
    }

    .nav-item .nav-item-a::after {
        content: '';
        position: absolute;
        width: 0;
        height: 100%;
        top: 0;
        left: 0;
        background-color: var(--color-white);
        transition: width .3s ease-in-out;
        z-index: -1;
    }

    .nav-item:not(.small-nav-item) .nav-item-a:hover {
        color: var(--bgactive);
    }

    .nav-item .nav-item-a:hover::after {
        width: 100%;
    }

    .copyright a:hover, .small-nav-item .nav-item-a:hover {
        color: var(--bgactive);
    }
}

@media screen and (min-width: 1100px){

    .header.hide {
        --height: 4rem;
    }

    .header.hide::after {
        height: var(--height);
        transition: height .4s ease-in-out;
    }

    .header.hide .right-header::after {
        background-color: var(--bgactive50);
    }

    .header.hide .nav-click, .header.hide .right-header-main .email-but, .header.hide .right-header-main .hotline-contacts, .header.hide .right-header-main .language, .header.hide .search-but{
        color: var(--bgactive);
    }

    .right-header {
        transition: height .3s ease-in-out;
    }
}

@media screen and (max-width: 1100px) {
    :root {
        --titleBig:6vw;
        --titleFont: 4vw;
        --titleMedium: 3vw;
        --titleSmall: clamp(18px, 2.2vw, 30px);
        --fontText: 1.3rem;
        --wrapcontent: 90vw;
        --wrapsmall: 90vw;
        --widthmenu: 100vw;
        --padding-page: 40px 0
    }

    .wheel {
        display: none
    }

    .detail-scroll,.fixed-scrol,.main,.scroll-content,.smooth-scroll {
        position: relative;
        height: auto;
        left: auto;
        top: auto;
        right: auto
    }

    .info-cookie p {
        font-size: 15px
    }

    .trigger-but {
        font-size: 13px
    }

    .loadicon {
        --size: 20vw
    }

    .header {
        --height: 70px;
        font-size: 16px
    }

    .email-but,.link-home-top {
        width: 30px;
        height: 30px
    }

    .email-but svg,.link-home-top svg {
        width: 100%;
        height: 100%;
        left: 0;
        top: 0
    }

    .logo {
        width: 150px;
        height: 100px;
        top: 30px;
        left: 30px
    }

    .logo svg {
        display: none!important
    }

    .navigation {
        text-align: center;
        height: 100vh;
        top: 0
    }

    .main-menu {
        margin: 0 -5px;
        padding: 0;
        width: 100%
    }

    .main-menu ul {
        width: 100%;
        padding: 5vw
    }

    .nav-item .nav-item-a {
        font-size: 3rem;
        padding: 20px
    }

    .small-nav-item.nav-item .nav-item-a {
        padding: 20px
    }

    .nav-item .hilife span {
        width: 160px;
        height: 80px;
        margin: auto
    }

    .nav-click {
        top: 5px;
        right: 0;
        padding: 0 50px 0 20px;
        transition: all .3s ease-in-out;
        --widthnavclick: 2.5em;
        z-index: 5
    }

    .close-menu {
        top: 15px;
        right: 15px;
        --widthclose: 60px
    }

    .close-menu .toggle-1,.close-menu .toggle-2 {
        right: 25%;
        width: 50%
    }

    .right-header {
        --margin-dis: 0 30px 0 0
    }

    .right-header-main {
        top: 5px;
        right: 70px;
        padding: 0 0 0 30px;
        border-radius: 0 0 0 10px;
        --margin-dis: 0 2em 0 0
    }

    .right-header-main::after {
        margin: 0 40px 0 30px
    }

    .right-header-clone {
        right: 0;
        height: 90px
    }

    .right-header-clone::after {
        display: block;
        background-color: var(--color-white50)!important;
        margin: 0 100px 0 30px
    }

    .right-header-clone .language,section {
        margin: 0
    }

    .language li button {
        font-size: 1em
    }

    .header.hide {
        --height: 70px
    }

    .header.hide .nav-click,.header.hide .right-header-main {
        top: 0;
        color: var(--bgactive)
    }

    .header.hide::after {
        height: var(--height)
    }

    .header.hide .logo {
        top: 5px;
        left: 10px;
        width: 90px;
        height: 60px
    }

    .search-but {
        width: 2.6em;
        height: 2.6em
    }

    .form-row-search .input-text .holder,.form-row-search .input-text input[type=text] {
        font-size: 18px
    }

    .search-form {
        top: 10vh
    }

    .search-form.typing {
        top: 5vh
    }

    .social {
        display: none;
        transition: none;
        opacity: 0;
        pointer-events: none
    }

    .social li a,.social li button {
        width: 38px;
        height: 38px
    }

    .social li svg {
        width: 90%;
        height: 90%;
        left: 5%;
        top: 5%
    }

    .social.alway {
        display: block;
        right: auto;
        top: auto;
        bottom: 30px;
        left: 0
    }

    .social.alway.show {
        pointer-events: auto;
        animation-name: fadeIn;
        animation-duration: 1s;
        animation-delay: .5s;
        animation-fill-mode: forwards
    }

    .social.alway ul {
        background-color: var(--bgactive70);
        border-radius: 0 10px 10px 0;
        padding: 5px
    }

    .title-page h1 {
        font-size: 7vw
    }

    .home-banner {
        height: auto
    }

    .banner-inner {
        --heightbanner: max(calc(1125/2000 * 100vw), 300px);
        height: var(--heightbanner)
    }

    .bg .bg-cover,.bg-inner .bg {
        height: calc(1125/2000*100vw)
    }

    .bg-inner .bg::after {
        display: none
    }

    .background {
        position: relative;
        width: 100%;
        height: auto;
        left: auto;
        top: auto
    }

    .slide-background {
        height: auto;
        padding-top: 0
    }

    .bg {
        height: auto
    }

    .bg .bg-cover {
        position: relative;
        display: block;
        top: auto;
        left: auto
    }

}